{{ define "main" }}

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
<h1>Dołącz do społeczności {{ .Site.Title }}</h1>

<p>{{ .Site.Title }} to projekt open source, z którego każdy może korzystać, ulepszać i czerpać wiedzę. Chcielibyśmy, żebyś
do nas dołączył! Oto kilka sposobów, aby dowiedzieć się, co się dzieje i
zaangażować się.
</span>
	</div>
</section>
{{ partial "community_links.html" . }}

<div class="td-content">
{{ .Content }}
</div>

{{ end }}
